@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #c45bda;
}

.todo-app {
  background: #eee;
  max-width: 90rem;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 6rem 3rem 3rem;
  border-radius: 4rem;
  border-bottom-right-radius: 15rem;
  -webkit-box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.remaining {
  font-size: 1.2rem;
}

hr {
  margin-top: 2px;
}
